*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    background-image: url("sky.jpg");
    background-size: cover;
    background-position: bottom;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 80%;
    margin: 70px auto   ;

}


header {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #E4EAFA, #F3F4FE, #DDE8FB);
}

header h2 {
    font-weight: 600;
    font-size: 22px;
    color: #414141;
}
.input-box {
    display: flex;
    gap: nogap;
}
.input-box input[type="text"] {
    width: 200px;
    height: 30px;
    border: 1px solid #C4C4C4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
    color: rgb(71, 70, 70);
    font-weight: 500;
}
.input-box input[type="text"]::placeholder {
    color: #b6b6b6;
}

.input-box input[type="button"] {
    width: 70px;
    height: 30px;
    border: 1px solid #C4C4C4;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #4A90E2;
    color: white;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

main {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
}

.left-side,
.right-side {
    width: 50%;
    height: 200px;
    display: flex;
}