*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100vh;
    background-image: url("assets/clear.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: "Noto Serif", serif;
    color: #414141;
    padding-top: 60px;
}

/* #bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
} */

.container {
    width: 80%;
    margin: 0 auto;

}


header {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.25);

}

header h2 {
    font-weight: 600;
    font-size: 22px;
    color: #414141;
}
.input-box {
    display: flex;
    gap: 0;
}
.input-box input[type="text"] {
    width: 200px;
    height: 30px;
    border: 1px solid #C4C4C4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
    color: rgb(71, 70, 70);
    font-weight: 500;
}
.input-box input[type="text"]::placeholder {
    color: #b6b6b6;
    font-weight: 600;
}

.input-box input[type="button"] {
    width: 70px;
    height: 30px;
    border: 1px solid #C4C4C4;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(134, 182, 255);
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    cursor: pointer;
    outline: none;
    font-weight: 600;
}

.input-box input[type="button"] {
  transition: all 0.3s ease;
  cursor: pointer;
}

.input-box input[type="button"]:hover {
  background-color: #357ABD;
  background-color: rgba(74, 144, 226, 0.85);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.input-box input[type="button"]:active {
  transform: scale(0.96);
}



main {
    width: 100%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    display: flex;
    flex: wrap;
    /* align-items: center; */
    justify-content: center;
    gap: 40px;
}

.left-side {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 10px;
}
.left-side .city {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}    

.left-side .image {
    height: 70px;
}
.left-side .image img {
    height: 100%;
}

.left-side .temperature {
    font-size: 40px;
    font-weight: 600;
    color: #414141;
}

.right-side {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 15px;
}

.day {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(177, 176, 176);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.7);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 600;
}
.right-side .days .icon {
    height: 50px;
    font-size: 10px;
}

.right-side .days .icon img {
    height: 100%;
}

.five-day {
    font-size: 20px;
    font-weight: 600;
    color: #414141;
    text-align: start;
}

.forecast {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background : rgb(134, 182, 255);
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    font-weight: 700;

}

.details {
    font-size: 14px;
    color: #414141;
    font-weight: 500;
}

.span {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #414141;
    border-bottom: 1px solid rgb(180, 180, 180);
    text-align: center;
}