*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100vh;
    background-image: url("assets/sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: "Montserrat", sans-serif;
    color: #414141;
    padding-top: 60px;
}
.container {
    width: 80%;
    margin: 0 auto;

}


header {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #E4EAFA, #F3F4FE, #DDE8FB);
}

header h2 {
    font-weight: 600;
    font-size: 22px;
    color: #414141;
}
.input-box {
    display: flex;
    gap: 0;
}
.input-box input[type="text"] {
    width: 200px;
    height: 30px;
    border: 1px solid #C4C4C4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
    color: rgb(71, 70, 70);
    font-weight: 500;
}
.input-box input[type="text"]::placeholder {
    color: #b6b6b6;
}

.input-box input[type="button"] {
    width: 70px;
    height: 30px;
    border: 1px solid #C4C4C4;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #4A90E2;
    color: white;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

main {
    width: 100%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    display: flex;
    flex: wrap;
    /* align-items: center; */
    justify-content: center;
    gap: 40px;
}

.left-side {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #e3e4f5;
    border-radius: 10px;
    padding: 10px;
}
.left-side .city {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}    

.left-side .image {
    height: 70px;
}
.left-side .image img {
    height: 100%;
}

.left-side .temperature {
    font-size: 40px;
    font-weight: 600;
    color: #414141;
}

.right-side {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #e3e4f5;
    border-radius: 10px;
    padding: 15px;
}
.right-side img {
    height: 40px;
}

.forecast {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #d3d5f6;
    padding: 5px;
    border-radius: 10px;
}

.details {
    font-size: 14px;
    color: #414141;
    font-weight: 500;
}

.span {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #414141;
    border-bottom: 1px solid rgb(180, 180, 180);
    text-align: center;
}